{{template "header"}}
<title>农业大棚监控</title>

<style>
    .center-block {
        text-align:center;
    }
</style>
</head>

<body>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <div class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="/">农业大棚监控系统</a>
            <div>
                <ul class="nav navbar-nav">
                    <li {{if .IsHome}} class="active" {{end}}><a href="/">首页</a></li>
                </ul>
            </div>
            <div class="pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="/login?exit=true">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                {{range .NodeDatas}}
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{.Name}}</h3>
                        </div>
                        <div class="panel-body">
                            {{$NodeID := .ID}}
                            {{range .EnvData}}
                            <p>{{.EnvName}}: <span id="{{$NodeID}}-{{.EnvName}}">{{.EnvValue}}</span> {{.EnvUnit}}</p>
                            {{end}}
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>

    </div>
</body>

</html>